<launch>
	<!-- xacro 优化模型文件 -->
	<arg name="model" default="$(find mbot_description)/xacro/mbot.xacro"/>
	<arg name="gui" default="true" />
	<arg name="rvizconfig" default="$(find mbot_description)/config/mbot.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

	<!-- 显示运动控制插件 -->
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
    <!-- 运行rviz可视化界面 -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
